# ===========================
# Build Artifacts
# ===========================
target/
logs/
build/
test-output/
surefire-reports/
dependency-reduced-pom.xml
buildNumber.properties
release.properties

# Allow target folders in src (for weird IDE behavior)
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ===========================
# Spring Boot
# ===========================
*.log
*.db
*.h2.db
*.mv.db

# ===========================
# Maven Wrapper
# ===========================
!.mvn/wrapper/maven-wrapper.jar

# ===========================
# IntelliJ IDEA
# ===========================
.idea/
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/

# ===========================
# NetBeans
# ===========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===========================
# Docker
# ===========================
*.env
docker-compose.override.yml
**/.docker/

# ===========================
# OS / Misc
# ===========================
.DS_Store
Thumbs.db
ehthumbs.db
*.swp
*.swo
*~
